table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 80%;
  }

.mat-elevation-z8 {
  margin-top: 30px;
}

.mat-form-field, .pull-right.mat-raised-button.mat-primary {
  margin: 10px;
}

.white-colour {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button {
  font-size: 70%;
  color: gray;
}

.mat-menu-panel, {
 min-width: 50px !important; 
}