<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Vehicle Management</h2>
  </div>
</div>
<div class="main-content">
    <div class="mat-elevation-z8">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Registration Number">
          </mat-form-field>
          <button mat-raised-button color="primary" class="pull-right" (click)="OpenVehicleDialog(null)">Add Vehicle</button>
        <table mat-table [dataSource]="vehicles" matSort>
            <ng-container matColumnDef="Image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element"> 
                    <img [src]="'data:image/gif;base64,' + element.model.imageBase64string" width="120" height="90"/>  
                </td>
            </ng-container>
            <ng-container matColumnDef="RegNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reg. Number </th>
                <td mat-cell *matCellDef="let element"> {{element.regNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="Colour">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Colour </th>
                <td mat-cell *matCellDef="let element" [class]="element.colour.toLowerCase() + '-colour'" [style.color]="element.colour"> {{element.colour}} </td>
            </ng-container>
            <ng-container matColumnDef="Year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>
            <ng-container matColumnDef="PricePerDay">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price P.Day </th>
                <td mat-cell *matCellDef="let element"> {{element.model.pricePerDay}} </td>
            </ng-container>
            <ng-container matColumnDef="NumberOfSeats">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Number Of Seats </th>
                <td mat-cell *matCellDef="let element"> {{element.model.numberOfSeats}} </td>
            </ng-container>
            <ng-container matColumnDef="ModelName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Model Name </th>
                <td mat-cell *matCellDef="let element"> {{element.model.name}} </td>
            </ng-container>
            <ng-container matColumnDef="MakeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Make Name </th>
                <td mat-cell *matCellDef="let element"> {{element.model.parentMake.name}} </td>
            </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="Manage">
            <th mat-header-cell *matHeaderCellDef> Manage </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <mat-menu id="mat-manu-id" #menu="matMenu">
                    <button mat-menu-item (click)="OpenVehicleDialog(element)">
                      <i class="fas fa-edit" style="color: orange"></i>
                      <span> Edit</span>
                    </button>
                    <button mat-menu-item (click)="DeleteVehicle(element)">
                        <i class="fas fa-minus-circle" style="color: red"></i>
                      <span> Disable</span>
                    </button>
                  </mat-menu>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
</div>
