<div class="myform-control">
    <img *ngIf="booking.vehicle.model && booking.vehicle.model.ImageBase64string" [src]="'data:image/gif;base64,' + booking.vehicle.model.ImageBase64string"/>
    <mat-form-field>
        <input matInput [(ngModel)]="booking.startDate" [matDatepickerFilter]="myFilterStartDate" [matDatepicker]="picker1" placeholder="Start Date" (dateChange)="CalculatePrice()">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput [(ngModel)]="booking.endDate" [matDatepickerFilter]="myFilterEndDate" [matDatepicker]="picker3" placeholder="End Date" (dateChange)="CalculatePrice()">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
</div>

  <mat-form-field class="myform-control-element">
    <mat-select placeholder="Vehicle Make" [(ngModel)]="booking.model.parentMake.id" (selectionChange)="GetModels()">
      <mat-option  *ngFor="let make  of makeList" [value]="make.id">{{make.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="myform-control-element">
    <mat-select placeholder="Vehicle Model" [(ngModel)]="booking.modelId" [disabled]="modelList.length === 0" (selectionChange)="ModelSelected()">
      <mat-option  *ngFor="let model of modelList" [value]="model.id">{{model.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <span class="row myform-control-element" *ngIf="booking.model.numberOfSeats">
      <span class="col-md-4">Seats: </span>
      <span class="col-md-2">{{booking.model.numberOfSeats}}</span>
  </span>
  <span class="row myform-control-element" *ngIf="booking.price">
    <span class="col-md-4">Booking Price</span>
    <span class="col-md-2">{{ booking.price | currency:'R'}} </span>
  </span>

  <button  class="myform-control-element" mat-raised-button color="primary" [disabled]="!booking.model || !booking.model" (click)="SaveBooking()">Save</button>
  <button  class="myform-control-element" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
