<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Compare Vehicles</h2>
  </div>
</div>

<div class="main-content">
  <div class="row">
      <div class="col-md-6">
            <mat-form-field class="example-container-element">
                    <mat-select placeholder="Vehicle Make"[(ngModel)]="makeId" (selectionChange)="AssignModel($event)" id="makeone">
                      <mat-option  *ngFor="let make  of makeList" [value]="make.id">{{make.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                
                  <mat-form-field class="example-container-element">
                    <mat-select placeholder="Vehicle Model" [(ngModel)]="selectedModel1" [disabled]="modelList.length === 0">
                      <mat-option  *ngFor="let model of modelList" [value]="model">{{model.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-card class="one" *ngIf="selectedModel1">
                    <mat-card-title>
                      <h5> Vehicle 1</h5>
                        <img mat-card-image *ngIf="selectedModel1?.imageBase64string" [src]="'data:image/gif;base64,' + selectedModel1?.imageBase64string" width="300">
                    </mat-card-title>
                    <mat-card-content class="example-container">
                            <span class="row example-container-element">
                                <span class="col-md-6">Vehicle Make Name: </span>
                                <span class="col-md-6">{{selectedModel1?.parentMake?.name}}</span>
                            </span>
                            <span class="row example-container-element">
                                <span class="col-md-6">Vehicle Model Name: </span>
                                <span class="col-md-6">{{selectedModel1?.name}}</span>
                            </span>
                            <span class="row example-container-element">
                                <span class="col-md-6">Number Of Seats: </span>
                                <span class="col-md-6">{{selectedModel1?.numberOfSeats}}</span>
                            </span>
                            <span class="row example-container-element">
                              <span class="col-md-6">Price Per Day</span>
                              <span class="col-md-6">R {{selectedModel1?.pricePerDay}}</span>
                            </span>
                        </mat-card-content>
                        <mat-card-actions align="center">
                                <button mat-raised-button color="primary" (click)="MakeBooking(selectedModel1)">
                                        Make Booking
                                      </button>
                            <i class="fa fa-star"  [style.color]="getColor(selectedModel1?.id)" (click)="ModelToFavourites(selectedModel1?.id)"></i>
                        </mat-card-actions>
                </mat-card>
      </div>
      <div class="col-md-6">
            <mat-form-field class="example-container-element">
                    <mat-select placeholder="Vehicle Make"[(ngModel)]="makeId2" (selectionChange)="AssignModel($event)"  [disabled]="selectedModel1 === null" id="maketwo">
                      <mat-option  *ngFor="let make  of makeList" [value]="make.id">{{make.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                
                  <mat-form-field class="example-container-element">
                    <mat-select placeholder="Vehicle Model" [(ngModel)]="selectedModel2" [disabled]="modelList.length === 0">
                      <mat-option  *ngFor="let model of modelList2" [value]="model">{{model.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-card class="two"  *ngIf="selectedModel2">
                    <mat-card-title>
                        <h5> Vehicle 2</h5>
                        <img mat-card-image *ngIf="selectedModel2?.imageBase64string" [src]="'data:image/gif;base64,' + selectedModel2?.imageBase64string" width="300">
                    </mat-card-title>
                    <mat-card-content class="example-container">
                            <span class="row example-container-element">
                                <span class="col-md-6">Vehicle Make Name: </span>
                                <span class="col-md-6">{{selectedModel2?.parentMake?.name}}</span>
                            </span>
                            <span class="row example-container-element">
                                <span class="col-md-6">Vehicle Model Name: </span>
                                <span class="col-md-6">{{selectedModel2?.name}}</span>
                            </span>
                            <span class="row example-container-element">
                                <span class="col-md-6">Number Of Seats: </span>
                                <span class="col-md-6">{{selectedModel2?.numberOfSeats}}</span>
                            </span>
                            <span class="row example-container-element">
                              <span class="col-md-6">Price Per Day</span>
                              <span class="col-md-6">R {{selectedModel2?.pricePerDay}}</span>
                            </span>
                        </mat-card-content>
                        <mat-card-actions align="center">
                                <button  mat-raised-button color="primary" (click)="MakeBooking(selectedModel2)">
                                        Make Booking
                                      </button>
                            <i class="fa fa-star"  [style.color]="getColor(selectedModel2?.id)" (click)="ModelToFavourites(selectedModel2?.id)"></i>
                        </mat-card-actions>
                </mat-card>
      </div>

  </div>
</div>