.one{
    padding: 2%;
    margin: 2%;
    float:left;
    width:100%;
    overflow:hidden;
    min-height: 450px;
}

.two{
    padding: 2%;
    margin: 2%;
    float:right;
    width:100%;
    overflow:hidden;
    min-height: 450px;
}

h5 {
    color: gray;
}
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 80% !important;
    // height: 150px !important;
  }
  
  .example-container > *, .example-container-element {
    width: 100%;
  }

  .model {
      margin-top: 30px
  }