<div class="form-container">
    <img *ngIf="vehicle.model !== null && vehicle.model.imageBase64string"
     [src]="'data:image/gif;base64,' + vehicle.model.imageBase64string"  width="300" height="200"/>
  
    <mat-form-field>
        <input matInput [(ngModel)]="vehicle.regNumber" name="regNumber" placeholder="Registration Number" type="text">
    </mat-form-field>

    
    <mat-form-field>
        <input matInput [(ngModel)]="vehicle.colour" name="colour" placeholder="Colour" type="text">
    </mat-form-field>

    
    <mat-form-field>
        <input matInput [(ngModel)]="vehicle.year" name="year" placeholder="Year" type="number">
    </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Vehicle Make" name="parentMake" [(ngModel)]="vehicle.model.parentMake.id" (selectionChange)="GetModels()">
      <mat-option  *ngFor="let make  of makeList" [value]="make.id">{{make.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Vehicle Model" name="model" [(ngModel)]="vehicle.model.id" [disabled]="!vehicle.model.parentMake && modelList.length === 0">
      <mat-option  *ngFor="let model of modelList" [value]="model.id">{{model.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="vehicle.model === null || vehicle.model.parentMake === null" (click)="SaveVehicle()">Save</button>
  <button mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
</div>