.example-container {
    display: flex;
    flex-direction: column;
    min-width: 250px !important;
    height: 150px !important;
  }
  
  .example-container > *, .example-container-element {
    width: 100%;
  }

  .model {
      margin-top: 30px
  }