<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Dashboard</h2>
      </div>
  </div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-3"  *ngFor="let model of modelsToDisplay">
        <mat-card class="model">
            <mat-card-title>
                <img mat-card-image *ngIf="model.imageBase64string" [src]="'data:image/gif;base64,' + model.imageBase64string" width="300">
            </mat-card-title>
            <mat-card-content class="example-container">
                <span class="row example-container-element">
                    <span class="col-md-6">Vehicle Make Name: </span>
                    <span class="col-md-6">{{model.parentMake.name}}</span>
                </span>
                <span class="row example-container-element">
                    <span class="col-md-6">Vehicle Model Name: </span>
                    <span class="col-md-6">{{model.name}}</span>
                </span>
                <span class="row example-container-element">
                    <span class="col-md-6">Number Of Seats: </span>
                    <span class="col-md-6">{{model.numberOfSeats}}</span>
                </span>
                <span class="row example-container-element">
                  <span class="col-md-6">Price Per Day</span>
                  <span class="col-md-6">R {{model.pricePerDay}}</span>
                </span>
            </mat-card-content>
            <mat-card-actions align="end">
                <i class="fa fa-star"  [style.color]="getColor(model.id)" (click)="ModelToFavourites(model.id)"></i>
            </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>
